.t16-redtext {
    color: red;
}

.t16-left-align {
    text-align: left;
}

label {
    font-size: .8em !important;
}

.t16-profile-btn {
    margin: 10px;
}

#user-role {
    text-transform: capitalize;
}
