.t16-nav-text, .t16-nav-text a {
    color: #333333;
    font-size: large;
    font-weight: 500;
    text-align: center;
}

.t16-component-container {
    margin-top: 70px;
    margin-bottom: 60px;
}

.t16-nav-bkgd {
    background-color: #f9fb5c;
}
